.header {
	background-color: aquamarine;
	display: inline-block;
	height: 120px;
	width: 100%;
	min-width: 600px;

}
.headline {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}

	.primary-card { grid-area: 2 / 1 / 10 / 4; }
	.side-cards { grid-area: 2 / 5 / 10 / 6; }

.primary-card{
	max-width: 100%;
	min-width: 18rem;
}
